---
layout: default
---

<div class="home">
  <div id="about">

    {% include monogram.html %}

    <div id="about-text">
      {{ content }}
    </div>
  </div>

  <!-- <h1 class="page-heading">Posts</h1> -->

  <div class="link-list">
    <a href="code/"> Translator Morse'a </a>
    <p> Prosta strona czekająca na następce. </p>
    <br>
    <a href="ld-39/"> Coffee Click </a>
    <p> Ludum dare 39 </p>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | relative_url }}">via RSS</a></p>

</div>
